.bounds {
  background-color: #0E9300;
  height :800px;
}

@media only screen and (max-width: 425px){
  .bounds{
    background-color: white;
  }
  .arrow-pagename {
    padding-top:20px;
    text-align:center;
    position: relative;
    background:#B71C1C;
    width: 100%;
    color:  white;
    padding: 0px 10px 10px 10px;
    font-family: latoregular;
  }
  #back-arrow{
    color: #F8E333;
    font-size: 30px;
  }
  #pagename{
    font-family: latobold;
    font-size: 15px;
    color: white;
    padding: 0px 0px 30px 10px;
  }


  #title{
    background:#B71C1C;
    width: 100%;
    position: relative;
  }

  h2{
    position: absolute;
    font-family: latoregular;
    font-size: 35px;
    right: 110px;
    color: #F8E333;
    text-align: left !important;
    padding: 0px 0px 0px 0px;
  }

  #detail1{
    padding: 0px 10px 10px 30px;
    top: 10px;
    right: 10px;
    height: 140px;
    width: 130px; 
    position: absolute;
  }

  p{
    margin: 15px 30px 20px 30px;
    color: rgb(82, 83, 82);
    font-family: ralewaylight;
    text-align: justify;
    font-size: 14px;
  }

  h1{
    margin: 0px 30px 0px 30px;
    font-family: ralewaylight;
    font-size: 15px;
  }

  .content{
    margin-top: 20px;
  }
}