@media (min-width: 320px){
  #title{
    padding-top: 15%;
  }
  
  #main-title{
    padding: 0px 10% 0px 30px;
    font-size: 30px;
  }   
  .content{
    margin-top: 5%;
  }
}

@media (min-width: 355px){
  #title{
    padding-top: 15%;
  }
  
  #main-title{
    padding: 0px 10% 0px 30px;
    font-size: 35px;
  }   
 
  .content{
    margin-top: 3%;
  }
}

@media (min-width: 384px){
  #title{
    padding-top: 15%;
  }
  
  #main-title{
    padding: 0px 10% 0px 30px;
    font-size: 38px;
  }   
  
  .content{
    margin-top: 3%;
  }
}

@media (min-width: 401px){
  #title{
    padding-top: 15%;
  }
  
  #main-title{
    padding: 0px 10% 0px 30px;
    font-size: 40px;
  }   
  
  .content{
    margin-top: 1%;
  }
}

.arrow-pagename {
  padding-top:20px;
  text-align:center;
  position: relative;
  background:#B71C1C;
  width: 100%;
  color:  white;
  padding: 0px 10px 10px 10px;
  font-family: latoregular;
}
#back-arrow{
  color: #F8E333;
  font-size: 30px;
}
#pagename{
  font-family: latobold;
  font-size: 15px;
  padding: 15px 0px 0px 10px;
}


#title{
  background:transparent;
  width: 100%;
  position: relative;
}

#main-title{
  color: #FF3C3C;
  font-family: latobold;
}  

#subtitle{
  position: relative;
  padding: 0px 15% 0px 20px;
  color:#4136FF;
  font-family: latoregular;
  font-size: 23px;
  align-self: flex-end;
}

h2{
  position: relative;
  font-family: latoregular;
  font-size: 35px;
  color: #F8E333;
  padding: 0px 0px 0px 25px;
}

.content{
  position: relative;
}
p{
  font-size: 15px;
  margin: 20px 30px 20px 30px;
  color: rgb(82, 83, 82);
  font-family: ralewaylight;
  text-align: justify;
}

#up-logo-words{
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 0px;
  margin-bottom: 0%;
  align-self: center;
  padding: 10px 0px 10px 0px;
}



.detail-bottom{
  position: absolute;
  bottom: 0%;
  width: 100%;
}