<mat-card-title>{{title}}</mat-card-title>
<div *ngFor="let consumable of consumables; let i = index">
  <mat-card *ngIf="consumable.active != false" class="item">
    <div class="consumable-item">
      <div class="consumable-name">
        <span>
          {{consumable.c_name}}
        </span>
        <span *ngIf="consumable.amount">
          ({{consumable.amount}})
        </span>
      </div>

      <div class="consumable-right">
        <span class="price">
          ₱{{consumable.price}}
        </span>
        <div *ngIf = "loggedIn">
          <button (click)="openMenu(consumable, i)" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        
        <!-- <button mat-icon-button
          #tooltip="matTooltip"
          [matTooltip]="getTooltipText(consumable)"
          (click)="tooltip.toggle()">
          <mat-icon>info</mat-icon>
        </button> -->
      </div> 
    </div>
  </mat-card>
</div>