<mat-card class="example-card" *ngFor="let review of reviews">
  <mat-card-header>
    <img mat-card-avatar [src]="review.photoUrl">
    <mat-card-title>{{review.firstName}}</mat-card-title>
    <mat-card-subtitle>
      <div class="left-align">
          <app-stars [stars]="review.rating"></app-stars>
      </div>
      <div class="left-align">
          {{review.date}}
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="content">{{review.review}}</p>
  </mat-card-content>
  <button mat-raised-button color="primary" (click)="openReview(review)">Edit Review</button>
</mat-card>