.mat-tab-header {
    z-index: 9999;
    position: sticky !important;
    top: 52px;
    background-color: white !important;
}




/* Styles for the active tab label */
.mat-tab-label {
    min-width: 50% !important;
    padding: 5px;
    background-color: white;
    color: red;
    font-weight: 700;
}

.mat-tab-label-active{
    min-width: 50% !important;
    padding: 5px;
    background-color: #e9e9e9;
    color:black;
    font-weight: 700;
}
