<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div>
<div class="bounds">
    
  <div fxLayout="column"
       fxFlexFill >
      
      <img src="./../../assets/sidenav-stuff/Profile/Juse-user-profile.jpg" alt="background" class="bg">
      
      <div class ="arrow" fxFlex="5" fxFlexAlign="start" >
          <a href="#" >
            <mat-icon id ="back-arrow"> arrow_back</mat-icon>
          </a>
          Profile
      </div>
      <div  fxFlex="30"  >
          <div *ngIf="loggedIn; else loggedOut">
              <img class="small-profile-picture" src={{user.photoUrl}} alt="profile-picture">
            </div>
            <ng-template #loggedOut>
                <img class="small-profile-picture" src="./../../assets/sidenav-stuff/Profile/default_bg=ig.png" alt="profile-picture">
            </ng-template>
      </div>
      <div class="name" fxFlex="10" >
          <div *ngIf="loggedIn; else loggedOut">
            {{user.name}}
          </div>
          <ng-template #loggedOut>
            Username
          </ng-template>
      </div>
      <div class="review-reputation">
      <div fxFlex="10" >
       <div class="num-rev">{{numOfReviews}}</div>
       <div class="word-rev">Reviews</div>
    </div>
    <div fxFlex="10" >
        <div class="num-rep">90</div>
        <div class="word-rep">Reputation</div>
     </div>
    </div>
      
  </div>
  
</div>
</div>
