.bounds {
  background-color: #0E9300;
  height :800px;
}



@media only screen and (max-width: 425px){
  .bounds{
    background-image: url("./../../assets/sidenav-stuff/Profile/Juse-user-profile.jpg");
    background-color: #0E9300;
    background-size: cover;
  }

  .arrow {
    padding-top:20px;
    text-align:center;
    position: absolute;
    background:transparent;
    color:  white;
    padding: 0px 10px 10px 10px;
    font-family: latoregular;
  }

  #back-arrow{
    color: #F8E333;
  }
   .small-profile-picture{
    width: 215px;
    height: 215px;
    border-width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 160px;
    left: 100px;
    }

    .name{
      color:white;
      text-transform: capitalize;
      position: absolute;
      top: 390px;
      font-size: 40px;
      left: 90px;
    }

    .num-rev{
      position: absolute;
      top: 450px;
      left: 100px;
      font-family: latolight;
      font-size: 50px;
      color: #F8E333;
    }

    .word-rev{
      position: absolute;
      top: 495px;
      left: 90px;
      font-family: ralewayextralight;
      font-size: 20px;
      color:  white;
    }

    .num-rep{
      position: absolute;
      top: 450px;
      right: 90px;
      font-family: latolight;
      font-size: 50px;
      color: #F8E333;
    }

    .word-rep{
      position: absolute;
      top: 495px;
      right: 68px;
      font-family: ralewayextralight;
      font-size: 20px;
      color:  white;
    }
 } 


