<div class="search-container"> 
    <div [formGroup]="filter" class="search-box-input">
        <div class="search">
            <input type="text" placeholder="food, canteen, stall" (keyup.enter)="setFiltersAndRedirect()" formControlName="fcs">
        </div>
        <p></p>
        <div class="search">
            <input type= "text" placeholder="location" (keyup.enter)="setFiltersAndRedirect()" formControlName="location">
        </div>
    </div>
    <div class="search-button-container">
        <button class="magnifying_glass" (click)="setFiltersAndRedirect()"></button>
    </div>
</div>
