<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</head>

<div class="search-container"> 
    <div [formGroup]="filter" class="search-box-input">
        <div class="search">
            <input type="text" placeholder="food, canteen, stall" (keyup.enter)="setFiltersAndRedirect()" formControlName="fcs">
        </div>
        <p></p>
        <div class="search">
             <ng-select2 [width]="295" [data]="exampleData" [options]="options" (keyup.enter)="setFiltersAndRedirect()" formControlName="location" ></ng-select2> 
        </div>
    </div>
    <div class="search-button-container">
        <button class="magnifying_glass" (click)="setFiltersAndRedirect()"></button>
    </div>
</div>
