<body>
<!--ALIGN FORMS TO CENTER-->
    <br>    
    <form [formGroup]="filter">
        <div class="search">
            <input type="text" placeholder="food, canteen, stall"  formControlName="name"> <button class="magnifying_glass"></button>
        </div>
        <p></p>
        <div class="search">
            <input type= "text" placeholder="location"  formControlName="location">
        </div>
    </form>

    <br>
<br>
<!-- to be removed>

        fcs:
        <ul *ngFor="let fe of mock_db | fcsSearch: fcs">
            <li>{{fe.fe_name}}</li>
        </ul>
        location:
        <ul *ngFor="let fe of mock_db | locationSearch: location">
            <li>{{fe.fe_name}}</li>
        </ul>
<!---->
</body>
