<mat-card class="example-card" (click)="openDialog(review)" *ngFor="let review of reviews">
  <mat-card-header>
    <img mat-card-avatar [src]="review.photoUrl">
    <mat-card-title>{{review.firstName}}</mat-card-title>
    <mat-card-subtitle>
      <div class="left-align">
          {{review.rating}}
      </div>
      <div class="left-align">
          {{review.date}}
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{review.review}}</p>
  </mat-card-content>
</mat-card>

