<div *ngIf = "users">
    <div *ngFor="let user of users">
        <hr>
        <mat-grid-list cols="5" rowHeight="75px">
            <mat-grid-tile colspan="1">
                <img class = "user-picture" [src]="user.photoUrl" alt="user-picture">
            </mat-grid-tile>
      
            <mat-grid-tile colspan="2">
                <div fxLayout = "row">
                    <div class = "user-name"> {{user.first_name}} {{user.last_name}} </div>
                    <div class = "user-date-joined">Joined On:  {{user.date_joined.day}}/{{user.date_joined.month}}/{{user.date_joined.year}} {{user.date_joined.hour}}:{{user.date_joined.minute}}:{{user.date_joined.second}}</div>
                    <div *ngIf = "user.active; else inactive" class = "user-last-active">Last Active On: {{user.last_active.day}}/{{user.last_active.month}}/{{user.last_active.year}} {{user.last_active.hour}}:{{user.last_active.minute}}:{{user.last_active.second}}</div>
                    <ng-template #inactive>
                        <div class = "user-deactivated-on">Deactivated On: {{user.deactivated.deactivated_on.day}}/{{user.deactivated.deactivated_on.month}}/{{user.deactivated.deactivated_on.year}} {{user.deactivated.deactivated_on.hour}}:{{user.deactivated.deactivated_on.minute}}:{{user.deactivated.deactivated_on.second}}</div>
                    </ng-template>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <div fxFlex class = "container-buttons" >
                        <div *ngIf = "!user.isAdmin; else alreadyAdmin">
                            <button class = "makeAdmin-button" mat-raised-button (click)="makeAdmin(user)">
                                <div class = "text-inside"> Make Admin </div>
                            </button>
                       </div>
                       <ng-template #alreadyAdmin>
                            <button class = "alreadyAdmin-button" mat-raised-button disabled="disabled">
                                    <div class = "text-inside"> Admin </div>
                            </button>
                       </ng-template>                        
                        <div *ngIf = "user.active; else activate">
                            <button class = "deacUser-button" mat-raised-button (click)="deacUser(user)">Deactivate User</button>
                        </div>
                        <ng-template #activate>
                            <button class = "acUser-button" mat-raised-button (click)="acUser(user)">Activate User</button>
                        </ng-template>
                </div>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
    <hr>
    <footer> Eat UP Copyright 2019</footer>
</div>
