.profilePic {
    border-radius:50%;
}

button {
    font-size: 10px;
    margin: 5px;
}

.user-name{
    font-size: 15px;
}

.email{
    font-size: 13px;
    padding-bottom: 5px;
}

.mat-list-item-content {
    padding: 10px 16px;
}

.userInitialInfo {
    text-align: -webkit-match-parent;
}

.makeAdmin-button{
    background-color: lightskyblue;
}

.deacUser-button {
    background-color: red;
}