<mat-list *ngIf = "users"> 
    <mat-list-item *ngFor="let user of users">
        
        <div class = "logo">
            <div class ="logo-img">
                <img class = "profilePic" src="/assets/img/faces/pupper.png">
                <div class="userInitialInfo">
                    <p class="user-name">{{user.name}}</p>
                    <p class="email"> {{user.email}}</p>
                </div>
            </div>
               
        </div>
        <button class = "makeAdmin-button" mat-raised-button (click)="makeAdmin()">Make Admin</button>
        <button class = "deacUser-button" mat-raised-button (click)="deacUser()">Deactivate User</button>

    <mat-divider *ngIf="!last">  </mat-divider>
    <br style = "line-height:5;">

    </mat-list-item>
    
</mat-list>
