<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div>
  <div class="bounds">
    <div fxLayout="column" fxFlexFill >
        <div class ="arrow-pagename" fxFlex="5" fxFlexAlign="start" fxLayout="row" >
          <a href="#" >
            <mat-icon id ="back-arrow"> arrow_back</mat-icon>
          </a>
          <h1 id="pagename">About Us</h1>
        </div>
        
        <div  id="title" fxFlex="16" fxLayout="column" fxLayoutAlign="end">
          <h2 id="main-title">Can't find what you're looking for?</h2>
        </div>
        <div id="subtitle"  fxFlex="5">LOOK NO MORE.</div>
        <div class="content" fxFlex="5" >
          <p>
            Eat UP is a food crowdsourcing progressive 
            web application(PWA) and a go-to place for 
            anyone who wants to find food, beverages,
            or food establishments, exclusively around
            the UP Diliman campus, that fit perfectly 
            with their cravings or budget.
          </p>
          <p>
            Currently, it covers 20+ food establishments
            found across the UP Diliman campus. 
          </p> 
      </div>
      <div id="up-logo-words"  fxFlex="7">
        <img  src="./../../assets/sidenav-stuff/about-us/UP.png" alt="up-logo-with-words"> 
      </div>
      <div id="up-logo-words"  fxFlex="7">
          <img  src="./../../assets/sidenav-stuff/about-us/UP.png" alt="up-logo-with-words"> 
        </div>
      <div fxFlex="10" >
        <img id="detail-bottom" src="./../../assets/sidenav-stuff/about-us/detail1-au.png" alt="">
      </div>
    </div>
  </div>
</div>