<mat-nav-list>
  <div class="user-logged-in">
   
    <div *ngIf = "loggedIn; else loggedOut"> 
        <a mat-list-item [routerLink]="['/eat-up/user/user-profile']" (click)="onClose()">
          <img class = "user-pic" src={{user.photoUrl}}>
          <h1 class = "user-name">{{user.name}}</h1>
        </a>    
    </div>
    <ng-template #loggedOut>
      <a mat-list-item (click)="alertUser()"> 
          <img class = "user-pic" src="./../../assets/sidenav-stuff/Profile/default.png" (click)="alertUser()">
          <h1 class = "user-name">Username</h1>
      </a>
       
    </ng-template>
    
    
  </div>
  <a mat-list-item [routerLink]="['/eat-up/user/about-us']" (click)="onClose()">About Us</a>
  <a mat-list-item [routerLink]="['/eat-up/user/privacy-policy']" (click)="onClose()">Privacy Policy</a>
  <a mat-list-item [routerLink]="['/eat-up/user/terms-of-services']" (click)="onClose()">Terms of Services</a>
  <!--<a mat-list-item [routerLink]="['/user/user-profile']" (click)="onClose()">Userprofile</a>-->
  <hr> 
  <app-google-auth [header] = "false" [sidenav] = "true"></app-google-auth>
</mat-nav-list>
