<div>
<app-search-boxes></app-search-boxes>
</div>
<mat-tab-group mat-align-tabs="center" style="height:100%">
  <mat-tab label="Trending" id = "trend" >
    <app-shop-card *ngFor="let trendingShop of trendingShops" [shop]="trendingShop"></app-shop-card>
    <footer> Eat UP Copyright 2019</footer>
  </mat-tab>
  <mat-tab label="Newest" id = "new">
    <app-shop-card *ngFor="let newestShop of newestShops" [shop]="newestShop"></app-shop-card>
    <footer> Eat UP Copyright 2019</footer>
  </mat-tab>
</mat-tab-group>
