<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Additional Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>Working Hours: {{displayHours()}}</div>
      <div class="days-open-container">
        <div>Days:</div>
        <div *ngFor="let day of shop.days_open">
          {{day}}
        </div>
      </div>
      <div>Take-Out Cost: {{shop.AddlTakeOutCost || "Free"}}</div>
      <div>Free Water: {{shop.FreeWater || "No"}}</div>
      <div *ngIf="shop.BYOBIncentive">
        BYOB Incentive: {{shop.BYOBIncentive}}
      </div>
      <div *ngIf="shop.SeatingCapacity">
        Seating Capacity: {{shop.SeatingCapacity}}
      </div>
      <div *ngIf="shop.CLAYGO">
        CLAYGO: {{shop.CLAYGO}}
      </div>
    </mat-expansion-panel>
  </mat-accordion>
