

.food-estab-img{
    height: 100%;
}

.food-estab-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, red, blue);
    opacity: 0.6;
  }
.back-arrow{
    position: absolute;
    color: #F8E333;
    font-size: 35px;
    top: 10px;
    left: 5px;
}

.map-button{
    position: absolute;
    top: 0px;
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 55px;
    background: #BC000B;
    
}

.map-icon{
    font-size: 40px;
    text-align: center;
    padding-top: 20%;
    padding-right: 40px;
    color: #F8E333;
}




 



.addtl-details-buttons{
    background: transparent;
    border:none;
    font-size: 13px;
}

.addtl-details-icons{
    position: absolute;
    top: 0px;    
    font-size: 30px;
}

.addtl-details-name{
    position: absolute;
    top: 15px;
    font-size: 13px;
    left: 0px;
    width: auto;
}



.days-button{
    font-size: 10px;
}


  
  .addtl-details-info{
      margin-top: 10px;
      font-family: latobold;
      font-size: 15px; 
  }

 

  .open-close-container{
    margin-top: 60%;
    margin-left: 25%;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 10%;
    font-weight: bold;
    font-size: 15px;
    
  }

  .open-close{
    font-family: ralewaylight;
    padding-top: 8px;
}

.open {
    color: green;
    border: solid 1px green;
}
  
.closed {
    color: red;
    border: solid 1px red;
}

.open-day {
    font-size: 13px;
    font-family: latobold;
    color: green;
}

.closed-day {
    font-size: 13px;
    font-family: latobold;
    color: grey;
}

/* .spinner-container {
    height: 100%;
} */

/* mat-spinner {
    position: absolute;
    top: 160px;
    left: 130px;
} */
@media (min-width: 330px) {
    .addr{
        color: 	#616161;
        font-size: 14px;
        margin-top: 5px;
     }
} 
@media (min-width: 320px) { 
    #one{
        margin-left: 15px;
    }
    .food-estab-identity{
        padding-top: 10px;
    }
    .shop-name{
        font-family: latoregular;
        font-size: 19px;
        color:black;
        margin-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 3px;
        overflow-wrap: break-word;
        line-height: 20px;
      }
    
    
    .rating-with-dot{
        color: rgb(51, 51, 51);
        font-size: 13px;
        margin-left: 3px;
      }
    
    .addr{
       color: 	#616161;
       font-size: 12px;
       margin-top: 5px;
    }

    .mat-button-toggle {
        width: 60px;
        height: 78px;
        background-color: white ;
        font-size: 20px;
        color:#616161;
        padding-right: 30px;
      }
    
      .mat-button-toggle-checked {
        background-color: #F8E333;
        color: blue;
      }
      .addtl-details-info{
        margin-top: 4px;
        font-family: latobold;
        font-size: 13px; 
        margin-left: 2px;
    }
  
      .store-hours{
        margin-top: 0px;
        font-family: latoregular;
        font-size: 13px;
        color:black;
        margin-right: 3px;
        margin-left: 8px;
    }
    
    .value-store-hours{
        font-family: latoregular;
        color: 	#616161;
       font-size: 11px;
    }
        
.map-button{
    position: absolute;
    top: 0px;
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 55px;
    background: #BC000B;
    
}

.map-icon{
    font-size: 30px;
    text-align: center;
    padding-top: 27%;
    padding-right: 30px;
    color: #F8E333;
}   

.open-close-container{
    font-size: 14px;
  }
}

@media (min-width: 360px) { 
    #one{
        margin-left: 15px;
    }
    .food-estab-identity{
        padding-top: 10px;
    }
    .shop-name{
        font-family: latoregular;
        font-size: 21px;
        color:black;
        margin-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 6px;
        overflow-wrap: break-word;
        line-height: 23px;
      }
    
    
    .rating-with-dot{
        color: rgb(51, 51, 51);
        font-size: 13px;
        margin-left: 3px;
      }
    
    .addr{
       color: 	#616161;
       font-size: 13px;
       margin-top: 5px;
    }

    .mat-button-toggle {
        width: 67px;
        height: 80px;
        background-color: white ;
        font-size: 20px;
        color:#616161;
        padding-right: 30px;
      }
    
      .mat-button-toggle-checked {
        background-color: #F8E333;
        color: blue;
      }

      .store-hours{
        margin-top: 0px;
        font-family: latoregular;
        font-size: 15px;
        color:black;
        margin-right: 3px;
        margin-left: 8px;
    }
    
    .value-store-hours{
        font-family: latoregular;
        color: 	#616161;
       font-size: 13px;
    }
}

@media (min-width: 375px) { 
    #one{
        margin-left: 18px;
    }
    .food-estab-identity{
        padding-top: 10px;
    }
    .shop-name{
        font-family: latoregular;
        font-size: 21px;
        color:black;
        margin-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 6px;
        overflow-wrap: break-word;
        line-height: 25px;
      }
    
    
    .rating-with-dot{
        color: rgb(51, 51, 51);
        font-size: 13px;
        margin-left: 3px;
      }
    
    .addr{
       color: 	#616161;
       font-size: 14px;
       margin-top: 5px;
    }

    .mat-button-toggle {
        width: 70px;
        height: 80px;
        background-color: white ;
        font-size: 20px;
        color:#616161;
        padding-right: 30px;
      }
    
      .mat-button-toggle-checked {
        background-color: #F8E333;
        color: blue;
      }

      .store-hours{
        margin-top: 0px;
        font-family: latoregular;
        font-size: 15px;
        color:black;
        margin-right: 3px;
        margin-left: 8px;
    }
    
    .value-store-hours{
        font-family: latoregular;
        color: 	#616161;
       font-size: 13px;
    }
}

@media (min-width: 393px) { 
    #one{
        margin-left: 8px;
    }
    .food-estab-identity{
        padding-top: 10px;
        padding-left: 8px
    }
    .shop-name{
        font-family: latoregular;
        font-size: 22px;
        color:black;
        margin-bottom: 12px;
        margin-top: 10px;
        overflow-wrap: break-word;
        line-height: 22px;
      }
    
    
    .rating-with-dot{
        color: rgb(51, 51, 51);
        font-size: 13px;
        margin-left: 3px;
      }
    
    .addr{
       color: 	#616161;
       font-size: 15px;
       margin-top: 5px;
    }

    .mat-button-toggle {
        width: 75px;
        height: 80px;
        background-color: white ;
        font-size: 20px;
        color:#616161;
        padding-right: 30px;
      }
    
      .mat-button-toggle-checked {
        background-color: #F8E333;
        color: blue;
      }

      .store-hours{
        margin-top: 0px;
        font-family: latoregular;
        font-size: 16px;
        color:black;
        margin-right: 3px;
        margin-left: 5px;
    }
    
    .value-store-hours{
        font-family: latoregular;
        color: 	#616161;
       font-size: 14px;
    }
}
  /*
.card{
    text-align: left;
}

.mat-card-image{
    width: 100%;
    max-height: 400px;
}

mat-card {
    margin: 10px 20px 10px 20px;
    width: 80%;
} 


.food-establishment-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.mat-tab-header {
    z-index: 9999;
    position: sticky !important;
    top: 52px;
    background-color: white !important;
}


.mat-tab-label {
    min-width: 50% !important;
    padding: 5px;
    background-color: white;
    color: red;
    font-weight: 700;
}

.mat-tab-label-active{
    min-width: 50% !important;
    padding: 5px;
    background-color: #e9e9e9;
    color:black;
    font-weight: 700;
}

.app-reviews-menu {
    width: 100%;
    height: 100%;
}


*/
