<!-- <div class="food-establishment-container">
    <div *ngIf="!shop" class="spinner-container">
        <mat-spinner ></mat-spinner>
    </div>
</div> -->
<div *ngIf="shop" >
    <div *ngIf="!shop.active">
        Sorry, {{shop.fe_name}} is not active anymore.
    </div>

    <div *ngIf="shop.active">
        <mat-grid-list cols="5" rowHeight="2:1" gutterSize="0">
            <mat-grid-tile rowspan="8" colspan="5">
                <img class="food-estab-img" src="{{shop.image ? shop.image : 'https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX17665746.jpg'}}" alt="food establishment picture">
                <div class ="back-arrow" fxFlex fxFlexAlign="start">
                        <a mat-icon-button href="/" >
                            <mat-icon class = "back-arrow" alt="back"> arrow_back</mat-icon>
                        </a>
                </div>
            </mat-grid-tile>

            <mat-grid-tile rowspan="4"  colspan = "3">
                <div fxLayout="col" fxFlex fxFlexAlign="start" id="one">
                    <div class="food-estab-identity">
                        <div class="shop-name"> {{shop.fe_name}} </div>
                            <div fxLayout="row">
                                <app-stars [stars]="shop.fe_avg_rating"></app-stars>
                                <div class = "rating-with-dot"> &middot; {{shop.fe_avg_rating || "Not yet rated"}}</div>
                                <!--<div class = "rating-with-dot">  ( {{shop.no_of_ratings}} )  </div> -->
                            </div>
                            <div fxLayout="row" class= "addr"> {{shop.address}} </div>
                        </div>
                    </div>
            </mat-grid-tile>

            <mat-grid-tile rowspan="4"  colspan="2" id="thirdBox" >
                    <div fxFlex fxLayout = "row">
                    <div class="map-button" (click) = "showMap()"> <mat-icon class="map-icon">place</mat-icon></div>
                    <div class="open-close-container" [class.closed]="!isShopOpen()" [class.open]="isShopOpen()">
                        <div class= "open-close"  >{{isShopOpen(shop) ? "Open" : "Closed"}}</div>
                    </div>
                </div>
            </mat-grid-tile>
    
            <mat-grid-tile rowspan="1"  colspan="3">
                <div fxLayout="row" fxLayoutAlign = "start">
                    <div class = "store-hours"> Store Hours: </div>
                    <div class = "value-store-hours"> {{setOpeningHour(shop)}}:{{setOpeningMins(shop)}}AM to {{setClosingHour(shop)}}:{{setClosingMins(shop)}} PM </div>
                    
                    <!--<div class = "rating-with-dot">  ( {{shop.no_of_ratings}} )  </div> -->
                </div>
            </mat-grid-tile>

            <mat-grid-tile rowspan="1"  colspan="2">
                <div *ngFor="let day of days_week" [class.closed-day]="!isShopOpenDay(day)" [class.open-day]="isShopOpenDay(day)">
                    {{day}}&nbsp;
                </div>
            </mat-grid-tile>
            
            <mat-grid-tile rowspan="3"  colspan="5">
                <div>
                    <mat-button-toggle-group #group="matButtonToggleGroup">
                        <mat-button-toggle value="{{shop.AddlTakeOutCost || 'Free'}}" aria-label="Text align left"  >
                            <div><mat-icon class = "addtl-details-icons">work</mat-icon></div>
                            <div class = "addtl-details-name"> Takeout</div>
                            <div class = "addtl-details-name" style="left:10px; top: 30px;"> Cost </div>
                        </mat-button-toggle>
    
                        <mat-button-toggle value="{{shop.FreeWater || 'No'}}" >
                            <mat-icon class = "addtl-details-icons">local_drink</mat-icon>
                            <div class = "addtl-details-name" style="left:15px"> Free </div>
                            <div class = "addtl-details-name" style="left:10px; top: 30px;"> Water </div>
                        </mat-button-toggle>
    
                        <mat-button-toggle value="{{shop.BYOBIncentive}}" fxFlex>
                            <mat-icon class = "addtl-details-icons">video_label</mat-icon>
                            <div class = "addtl-details-name" style="left:10px"> BYOB </div>
                            <div class = "addtl-details-name" style="left:3px; top: 30px;" > Incentive </div>
                        </mat-button-toggle>
    
                        <mat-button-toggle value="{{shop.SeatingCapacity}}" >
                            <mat-icon class = "addtl-details-icons">airline_seat_recline_normal</mat-icon>
                            <div class = "addtl-details-name"> Seating </div>
                            <div class = "addtl-details-name" style="top:30px"> Capacity </div>
                        </mat-button-toggle>
    
                        <mat-button-toggle value="{{shop.CLAYGO}}" >
                            <mat-icon class = "addtl-details-icons">transfer_within_a_station</mat-icon>
                            <div class = "addtl-details-name"> CLAYGO</div>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
    
                    <div fxLayout= "row">
                        <div class="addtl-details-info"> Info: </div> 
                        <div class="addtl-details-info" style="font-family: ralewaylight; margin-left: 3px"> {{group.value}} </div> 
                    </div>
                </div>
            </mat-grid-tile>
    
            <mat-grid-tile rowspan="2"  colspan="5" *ngIf="shop">
                <app-add-rating-review *ngIf="reviews" [shop]="shop" [reviews]="reviews" style="margin-right: 20px;"></app-add-rating-review> 
            </mat-grid-tile>
        </mat-grid-list>

        <app-reviews-menu class="app-reviews-menu" *ngIf="shop && reviews" [shop]="shop" [reviews]="reviews"></app-reviews-menu>
    </div>  
</div>
    

<!--
<div class="food-establishment-container">
    <app-search-boxes></app-search-boxes>
    <div *ngIf="!shop" class="spinner-container">
        <mat-spinner ></mat-spinner>
    </div>

    <mat-card *ngIf="shop">
        <img mat-card-image src="{{shop.image ? shop.image : 'https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX17665746.jpg'}}"> <br>
        <mat-card-title>{{shop.fe_name}}</mat-card-title>
        <mat-card-content>
            <div>
                <app-stars [stars]="shop.fe_avg_rating"></app-stars>
                <ng-container *ngIf="shop.no_of_ratings > 0">
                    ({{shop.no_of_ratings}})
                </ng-container>
            </div>
            <div class= "open-close" [class.closed]="!isShopOpen()" [class.open]="isShopOpen()">{{isShopOpen(shop) ? "Open" : "Closed"}}</div>
        </mat-card-content>
        <mat-card-actions>
            <app-addtl-details [shop]="shop"></app-addtl-details>
        </mat-card-actions>
    </mat-card>
    <mat-card>
      <app-add-rating-review [shop]="shop" [reviews]="reviews" style="margin-right: 10px" *ngIf="shop"></app-add-rating-review> 
      <app-add-menu-item [shop]="shop" *ngIf="shop"></app-add-menu-item>
    </mat-card>
    <mat-card>  
        <app-map [shop]="shop" *ngIf="shop"></app-map>
    </mat-card>
    <app-reviews-menu class="app-reviews-menu" *ngIf="shop" [shop]="shop" [reviews]="reviews"></app-reviews-menu>
    
</div>
-->
    
   
