 <div class="food-establishment-container">
    <app-search-boxes></app-search-boxes>
    <div *ngIf="!shop" class="spinner-container">
        <mat-spinner ></mat-spinner>
    </div>

    <mat-card *ngIf="shop">
        <img mat-card-image src="{{shop.image ? shop.image : 'https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX17665746.jpg'}}"> <br>
        <mat-card-title>{{shop.fe_name}}</mat-card-title>
        <mat-card-content>
            <div>
                {{shop.fe_avg_rating || "No ratings available"}}
                <ng-container *ngIf="shop.no_of_ratings > 0">
                    ({{shop.no_of_ratings}})
                </ng-container>
            </div>
            <div>{{isShopOpen(shop) ? "Open" : "Closed"}}</div>
        </mat-card-content>
        <mat-card-actions>
            <app-addtl-details [shop]="shop"></app-addtl-details>
        </mat-card-actions>
    </mat-card>
    <mat-card>
      <app-add-rating-review [shop]="shop" style="margin-right: 10px"></app-add-rating-review> 
      <app-add-menu-item [shop]="shop"></app-add-menu-item>
    </mat-card>
    <mat-card>  
        <app-map [shop]="shop" *ngIf="shop"></app-map>
    </mat-card>
    <app-reviews-menu class="app-reviews-menu" [shop]="shop" *ngIf="shop"></app-reviews-menu>
    
</div>
