mat-sidenav-container, mat-sidenav-content, mat-sidenav{
  height: 100%;
}

.mat-toolbar{
  z-index: 9999;
  position: sticky !important;
  top: 0px;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow:3px 0 6px rgba(0, 0, 0, 0.24);
}

.sidenav .mat-toolbar {
  background: inherit;
}


.hidden{
  display: none;
}

a{
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.content-display-msg{
  margin-top: 50%;
  font-family: ralewaylight;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
}
