.select2-container--default .select2-selection--single .select2-selection__rendered{
  padding:5px ;
  background-color: #FBFBFB ;
  line-height: inherit ;
  width:295;
  height:36px ;
  border-width: 2px ;
  border-style:inset ;
  border-color: rgb(206, 204, 204);
  text-align:center ;
}

.select2-container--default .select2-selection--single{
  background-color: rgba(0,0,0,0);
  border: None;
  border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  visibility: hidden ;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder{
  font-style:italic ;
  color:#737373 ;
  font-size:15px ;
}

.search-box-input {
  width: 100%;
  margin: 5% 0px 5% 5%;
  padding-left: 1%;
}

.search-button-container {
  display: flex ;
  align-items: center;
  margin-top: 5px;
  margin-right: 7%;
}


input[type=text] {
  width: 100%;
  padding: 5px ;
  outline: none ;
  background-color: #FBFBFB ;
  font-family: sans-serif;
  font-size: 16px ;
}

input::placeholder {
  font-style: italic ;
  text-align: center ;
}


.form-control {
  height: 25px ;
  width: 80% ;
  font-family:sans-serif;
}

.magnifying_glass {
  background: #BC000B;
  color: #EAFB00;
  height: 70px ;
  width: 55px ;
  padding-right: 30px;
  padding-top: 5px;
}

.search-icon{
  font-size: 37px !important;
}

form { display: inline-block; }
