<div class="search-container"> 
    <div [formGroup]="filter" class="search-box-input">
        <div class="search">
            <input type="text" placeholder="food, canteen, stall" (keyup.enter)="setFiltersAndRedirect()" formControlName="fcs">
        </div>
        <p></p>
        <div class="search">
             <ng-select2 [width]="295" [data]="exampleData" [options]="options" formControlName="location"></ng-select2> 
        </div>
    </div>
    <div class="search-button-container">
        <button class="magnifying_glass" (click)="setFiltersAndRedirect()"></button>
    </div>
</div>
