.select2-container--default .select2-selection--single .select2-selection__rendered{
  padding:5px !important;
  background-color: #FBFBFB !important;
  line-height: inherit !important;
  width:295px !important;
  height:36px !important;
  border-width: 2px !important;
  border-style:inset !important;
  text-align:center !important;
}

li {
  text-align:left !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  visibility: hidden !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder{
  font-style:italic !important;
  color:#737373 !important;
  font-size:15px !important;
}

.search-container {
  display: flex !important;
  justify-content: center !important;
  padding: 10px 0 !important;
}

.search-box-input {
  padding-right: 20px !important;
}

.search-button-container {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  length: 100% !important;
}

.searchbox {
  padding:10px;
  background-color: #F4F4F4 !important;
}

input[type=text] {

width: 295px !important;
padding: 5px !important;
outline: none !important;
background-color: #FBFBFB !important;
font-family: sans-serif !important;
font-size: 16px !important;

}

input::placeholder {
  font-style: italic !important;
  text-align: center !important;
}


.form-control {
  height: 25px !important;
  width: 300px !important;
  font-family:sans-serif !important;
}

.magnifying_glass {
  float: right !important;
  display : inline-block !important;
  background-image:url("search.png") !important;
  background-repeat: no-repeat !important;
  height: 37px !important;
  width: 37px !important;
}

p {
  font-family: sans-serif !important;
  font-weight: bold !important;
  color: #1a1a1a !important;
  font-size: 15px !important;
}
form { display: inline-block !important; }

