<div mat-dialog-content [formGroup]="data.addShopFormGroup">
    <h1>Add an Establishment</h1>

    <mat-form-field appearance="outline" class="container">
        <mat-label>Establishment Name</mat-label>
        <input matInput #fe_name maxlength="30" formControlName="fe_name" required>
        <mat-hint align="end">{{fe_name.value?.length || 0}}/30</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="container" formControlname="type">
        <mat-select placeholder="Type">
            <mat-option value="Kiosk">Kiosk</mat-option>
            <mat-option value="Canteen">Canteen</mat-option>
            <mat-option value="Stall">Stall</mat-option>
            <mat-option value="Cafe">Cafe</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="container">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="container">
        <mat-label>Longitude</mat-label>
        <input matInput formControlName="long" type="number" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="container">
        <mat-label>Latitude</mat-label>
        <input matInput formControlName="lat" type="number" required>
    </mat-form-field>

    <div appearance="outline" class="container time">
        <mat-label class="title">Days Open:</mat-label>
        <div class="days-open">
            <div *ngFor="let day of days" class="day">
                <div>{{day.display}}</div>
                <input type="checkbox" (change)="onDaysOpenChange(day.value, $event.target.checked)">
            </div>
        </div>
    </div>

    <mat-form-field appearance="outline" class="container">
        <mat-label>Contact Person</mat-label>
        <input matInput #contact maxlength="30" formControlName="contact_person">
        <mat-hint align="end">{{contact.value?.length || 0}}/30</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="container">
        <mat-label>Contact Number</mat-label>
        <input matInput formControlName="contact_number">
    </mat-form-field>

    <div appearance="outline" class="container time">
        <h4 class="title">Select Opening Time</h4>
        <input [ngxTimepicker]="picker" formControlName="opening_hours" [format]="24" placeholder="Opening Hours" required class="mat-form-field-flex">
        <ngx-material-timepicker #picker [enableKeyboardInput]="true"></ngx-material-timepicker>
    </div>

    <div appearance="outline" class="container time">
        <h4 class="title">Select Closing Time</h4>
        <input [ngxTimepicker]="picker2" formControlName="closing_hours" [format]="24" placeholder="Closing Hours" required class="mat-form-field-flex">
        <ngx-material-timepicker #picker2 [enableKeyboardInput]="true"></ngx-material-timepicker>
    </div>
    
    <mat-form-field appearance="outline" class="container" hintLabel="Value in Php">
        <mat-label>Extra Rice Price</mat-label>
        <input matInput type="tel" formControlName="ExtraRice"> 
        <mat-hint align="end">Leave blank if none</mat-hint>
    </mat-form-field>
          
    <mat-form-field appearance="outline" class="container" hintLabel="Value in Php">
        <mat-label>Additional Takeout Costs</mat-label>
        <input matInput type="tel" formControlName="AddlTakeOutCost"> 
        <mat-hint align="end">Leave blank if none</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="container">
        <mat-label>Seating Capacity</mat-label>
        <input matInput type="tel" formControlName="SeatingCapacity"> 
        <mat-hint align="end">Leave blank if none</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="container">
        <mat-select placeholder="Additional Details" formControlName="AddtlDetails" multiple>
            <mat-option *ngFor="let option of addtlDetails" [value]="option.value">
                {{option.display}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="container">
        <mat-select placeholder="Nearest Buildings" formControlName="NearBuildings" multiple>
            <mat-option *ngFor="let location of locationData" [value]="location.id">
                {{location.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="container">
        <h4 class="title">Select Food Establishment Image</h4>
        <input type="file" formControlName="image" class="subtitle">  
    </div>
</div>
    

    <!-- fe_name: new FormControl('', [Validators.required]),
    type: new FormControl('', [Validators.required]),
    address: new FormControl('', [Validators.required]),
    // coordinates: new FormControl(),
    long: new FormControl('', [Validators.required]),
    lat: new FormControl('', [Validators.required]),
    contact_person: new FormControl(),
    contact_number: new FormControl(),
    opening_hours: new FormControl('', [Validators.required]),
    closing_hours: new FormControl('', [Validators.required]),
    days_open: new FormControl('', [Validators.required]),
    ExtraRice: new FormControl(),
    AddlTakeOutCost: new FormControl(),
    FreeWater: new FormControl(),
    BYOBIncentive: new FormControl(),
    SeatingCapacity: new FormControl(),
    CLAYGO: new FormControl() -->


<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="addShop()" cdkFocusInitial>Add</button>
</div>