<mat-card>
  <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYlXT-Fh4zKMMQK8VIHYIauWdTkUs5esCRd0oepSy-aC48RUa5" alt=""> <br>
  <mat-card-content> 
      <mat-card-title>shopName</mat-card-title>
    <div id= "shopRating">shopRatings</div>
    <div id="shopOpenClose">shopOpenClose</div>
  </mat-card-content>
  <mat-card-actions>
      <app-addtl-details></app-addtl-details>
  </mat-card-actions>
</mat-card>


<!-- 
<ng-container *ngIf="shop">
    <pre>{{shop | json}}</pre>
</ng-container>
-->
