<mat-tab-group mat-align-tabs="center" style="height:100%">
  <mat-tab label="Menu" id = "menu">
    <app-menu [shop]="shop"></app-menu>
    <footer> Eat UP Copyright 2019</footer>
  </mat-tab>
  <mat-tab label="Reviews" id = "review" >
    <!-- use center-align-column to everything you want to center -->
    <div class="center-align-column"> 
      <div *ngIf ="loggedIn; else noUserLoggedIn"> 
          <app-review-user [shop]="shop" [reviews]="reviews"></app-review-user>
          <mat-divider class="divider"></mat-divider>
          <display-reviews [shop]="shop" [reviews]="reviews"></display-reviews>
          <footer> Eat UP Copyright 2019</footer>
      </div>
      <ng-template #noUserLoggedin> 
          <app-review-user [shop]="shop" [reviews]="reviews"></app-review-user>
          <footer> Eat UP Copyright 2019</footer>
      </ng-template>
      
    </div>
 <!-- <footer> Eat UP Copyright 2019</footer> -->
  </mat-tab>
</mat-tab-group>
